@media only screen
and (min-device-width : 350px)
and (max-device-width : 800px)
and (orientation : portrait) {
 body {
   width: 100%;
 }
 #logo-small{
   font-size: 10px;
 }
 .testimonial article {
   width: 100%;
 }
 .bio {
   font-size: 14px;
 }
 .bio, .papertrail{
   width: 100%;
 }
 .papertrail{
   height: 600px;
 }
 nav li {
   width: 8%;
   word-wrap: break-word;
   font-size:8px;
   padding: 0px;
   margin: 0px;
 }
 nav li:nth-of-type(1){
   width: 55%;
   text-align: left;
   padding-left: 5px;
 }
 nav li:nth-of-type(4){
  width: 20%;
  text-align: left;
  vertical-align: middle;
 }
 a.animate-a{
   display: block;
   width: 100%;
   height: 100%;
   font-size: 8px;
   color: white;
 }
 nav ul {
   padding: 0;
 }
 .brand {
   font-size: 12px;
   max-height: 100%;
   max-width: 100%;
   width: 100%;
   line-height:25px;
   height: 25px;
 }
 .portfolio_blurb{
   font-size: 10px;
 }
 .append-tags{
   margin: 0 auto;
   width: 75%;
 }
 .append-tags > div{
   width: 75%;
   float: left;
 }
 .testimonial article {
   width: 75%;
   font-size: 14px;
 }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 570px)
and (orientation : portrait) {

.testimonial article {
  width: 100%;
}
.bio {
  font-size: 12px;
}
.bio, .papertrail{
  width: 100%;
}
.papertrail{
  height: 600px;
}
nav li {
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
  font-size:0.75em;
  display: block;
  width: 25%;
  height: 50%;
  line-height: 100%;
  vertical-align: middle;
}
nav li:nth-of-type(1){
  text-align: center;
  width: 100%;
}
.brand {
  max-height: 100%;
  max-width: 100%;
  line-height:25px;
  font-size: 1.5em;
}
nav li:nth-of-type(4){
 vertical-align: top;
}
nav ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#logo-small{
  font-size:0.5em;
}
.portfolio_blurb{
  font-size: 8px;
}
.append-tags{
  margin: 0 auto;
  width: 75%;
}
.append-tags > div{
  width: 75%;
  float: left;
}
.testimonial article {
  width: 75%;
  font-size: 12px;
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
 .papertrail-item{
   width: 30%;
 }
 .papertrail-item img{
   float: right;
 }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 375px){
  .github-link, .live-link {
    font-size: 0.75em;
  }

}
