
/*palette
dark #504A59
red #B94439
light #BDAFB4
blue #587895
*/

body {
  min-width: 500px;
  background: #f4f1f2;
    }

#logo-container {
  font-size: 2.2em;
  }

#logo-small {
font-size: 0.7em;
  }

.icon-block {
  padding: 0 15px;
  }

.material-icons {
	font-size: inherit;
  color: #B94439;
  font-size: 50px;
  }

  .slideshow-frame {
    height: 300px;
    width: 75%;
    border-style: solid;
    border-width: thin;
    margin: 0 auto;
    z-index: 1;
  }

.arrow-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	float: right;
	border-left: 25px solid #B94439;
  }

.arrow-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	float: left;
	border-right:25px solid #B94439;
  }

.arrow-line {
  width: 90%;
  display:inline-block;
  position: relative;
  z-index: -2;
  bottom: 200px;
  }

hr {
  background-color: white;
  height: 3px;
  }

.card, .card-image, .carousel-item {
  max-width: 100%;
  padding-bottom:0;
  }

.carousel-item {
width: auto;
padding-bottom:0;
}

.card-image img {
  height: 35%;
}

.hidden {
  display:none;
}

.brand {
  float: left;
  }

a {
  text-decoration: none;
}

nav a:link {
     color: white;
 }

 nav a:active {
     color: white;
 }
 nav a:visited {
   color: white;
 }

nav {
  background: #587895;
  height: 67.5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 67.5px;
  }

nav li {
  vertical-align: center;
  display: inline-block;
  transition: all 0.3s;
  height: 100%;
  line-height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  }

nav li a {
  vertical-align: middle;
}

  nav li:hover {
    background: #B94439;
  }

article {
  text-align: center;
  }

.carousel-section {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  }

  footer {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

.bio {
    height: 400px;
}

.bio article {
  width: 50%;
  float: right;
  height: 75%;
  padding-top:0px;
  }

  .img-container {
    width: 50%;
    float: left;
    height: 67.5%;
  }

  .bio img {
   max-width: 100%;
   max-height: 100%;
  }

.bio {
  width: 40%;
  }

.papertrail {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: space-between;
  width: 50%;
  height: 75%;
}

.papertrail-item {
  text-align: center;
  width: 5em;
  height: 5em;
  margin: 1em;
  }

  .papertrail-item img {
    max-width: 100%;
    max-height: 100%;
  }

  .testimonial {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width: 100%;
    margin-bottom: 100px;
  }

  .testimonial article {
    width: 30%;
  }

  footer, .testimonial, .carousel-section {
    margin-top: 50px;
  }
